<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.qoobico.remindme">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/rm" android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"> <!-- указываем на наш класс в котором присваиваем маинактивити-->
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

    </application>


</manifest>
